* {
  margin:0
}

.app {
  background-color: #fafafa;

}

.app__body {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.app__headerImage{
  padding:10px;
  padding-left: 15px;
  object-fit: contain;
}
.app__header{
  background-color:white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__auth{
  display: flex;
}
.appbody__right {
  margin-left: 20px;

}


@media screen and (max-width : 900px){
  .appbody__right {
    display: none ;
  }
}
