.imageUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    height:50vh;
}

.imageUpload__progress{
    width: 100%;
}

.imageUpload__caption{
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}